<footer>
  <div class="wrapper">
    <ul class="footer-nav">
      <li>
        <a href="#">Clinic</a>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Why us</a></li>
          <li><a href="#">Our Certificates</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Success Rates</a></li>
          <li><a href="#">Location</a></li>
          <li><a href="#">3-D Clinic Tour</a></li>
          <li><a href="#">Photo Gallery</a></li>
        </ul>
      </li>
      <li>
        <a href="#">About infertility</a>
        <ul>
          <li><a href="#">Causes of infertility</a></li>
          <li><a href="#">Female infertility</a></li>
          <li><a href="#">Male infertility</a></li>
          <li><a href="#">Female infertility Diagnostics</a></li>
          <li><a href="#">Male infertility Diagnostics</a></li>
          <li><a href="#">Genetic Diagnostics</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Treatments </a>
        <ul>
          <li><a href="#">Fertility treatment methods</a></li>
          <li><a href="#">Infertility treatment Programs</a></li>
        </ul>
      </li>
      <li>
        <a href="#">International </a>
        <ul>
          <li><a href="#">Patient Care</a></li>
          <li><a href="#">First visit</a></li>
          <li><a href="#">Care and assistance</a></li>
          <li><a href="#">International patients accommodation</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Information</a>
        <ul>
          <li><a href="#">Prices</a></li>
          <li><a href="#">Patient Success stories</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <hr>
  <div class="wrapper">
  <ul class="bootom-footer-part">
    <li>
      <div class="social-container">
        <ul class="social clearfix">
          <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </li>
    <li class="copyright">
      <span>© 2008-2015</span>
    </li>
    <li class="design-by">
      <span>Design and Development by <a href="">OTAKOYI<img src="images/otakoyi-logo.png" alt=""></a></span>
      <img class="img-md" src="images/otakoyi-logo.png" alt="">
    </li>
  </ul>
  </div>
</footer>
